<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>StopIt</title>
	
	<link href="http://jeromeetienne.github.com/jquery-mobile-960/css/jquery-mobile-960.min.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/main.css">
	<script src="/media/js/utils.js"></script>
	
	<!-- iphone meta -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<link rel="apple-touch-icon" href="/media/images/icon.png"/>
	
	<!-- jquery mobile -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  
  <!-- jquery mobile global defaults set -->
	<script>
	$(document).bind("mobileinit", function(){
	  $.mobile.defaultPageTransition = "slide";
	});
	</script>
	
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	
	<!-- google maps stuff -->
	<link rel="stylesheet" type="text/css" href="/media/css/map.css">
  <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=
    AIzaSyBX3kXaqyDwwZuLQpUyTVVBo7pc83S9kTY&sensor=true">
  </script>
  <script type="text/javascript" src="/media/js/map.js"></script>
</head>
<body>
  	{% block body %}{% endblock %}
</body>
</html>