<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>StopIt: Real-Time Public Transit</title>
	
	<link rel="stylesheet" type="text/css" href="/media/css/main.css">
	
	<!-- iphone meta -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<!-- jquery mobile -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<!-- jquery mobile global defaults set -->
	<script>
	$(document).bind("mobileinit", function(){
	  $.extend(  $.mobile , {
	    defaultPageTransition: slide
	  });
	});
	</script>
  	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div data-role="page" data-add-back-btn="true">
    <div data-role="header" data-theme="b">
  	  {% block header %}{% endblock %}
  	</div>
  	
  	<div data-role="content">	
  		{% block content %}{% endblock %}
  	</div>
  	
  	{% block javascript %}{% endblock %}
</body>
</html>