<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>StopIt: Real-Time Public Transit</title>
	<meta name="author" content="Stanley Tang">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>
  <div data-role="page" data-add-back-btn="true">
    <div data-role="header" data-theme="b">
  	  <h1>StopIt</h1>
  	</div>

  	<div data-role="content">	
  		<p>ddd</p>		
  	</div>
  	
  </div>
</body>
</html>
