{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/media/css/map.css">

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX3kXaqyDwwZuLQpUyTVVBo7pc83S9kTY&sensor=true">
</script>
<script type="text/javascript" src="/media/js/map.js"></script>
<script type="text/javascript">
var mapModule;
$("body").ready(function() {
  mapModule = new MapModule("map_canvas");
  $("#search_instruction_popup").popup("open");
  $("#search_instruction_popup").popup({ history: false });
  
  var left = ($(window).width() - $("#search_instruction_popup").width())/2;
 // $("#search_instruction_popup").css("left", left);
});
</script>
{% endblock %}

{% block header %}
<h1>StopIt</h1>
{% endblock %}

{% block content %}
<div id="map_canvas"></div>

<div data-role="popup" id="search_instruction_popup" class="ui-content" 
  data-theme="e">
	<a href="#" onclick="$('#search_instruction_popup').popup('close');" data-role="button" 
	  data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">
	  Close
	</a>
	Drag the map and tap the search button below to find transit stops
	in the map region
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
  <div class="ui-grid-solo">
    <a href="#" data-role="button" data-inline="false" data-theme="c"
      data-corners="false" onclick="mapModule.fetchAndShowStopsInArea();"
      id="bus_search_button">
      <span id="stops_search_text">Search Transit Stops In This Area</span>
    </a>
  </div>
</div>
{% endblock %}
