{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
  
</script>
{% endblock %}

{% block body %}
<div data-role="page" data-add-back-btn="true" id="route_page">
  <div data-role="header" data-theme="b">
	  <h1>Line A</h1>
	  <a href="/" data-icon="home" class="ui-btn-right" data-direction="reverse">
	    Home
	  </a>
	</div>
  
  <div data-role="content">
    <p>
      This page will have details about this particular bus route. It will
      also have a link to a real-time map of all the buses for this route
    </p>
    <a href="/route_map/">Real-time Route Map</a>
  </div>
</div>
{% endblock %}
