{% extends "base.html" %}

{% block body %}
<div data-role="page" data-add-back-btn="true" id="route_map_page">
  <div data-role="header" data-theme="b">
	  <h1>StopIt</h1>
	  <a href="/" data-icon="home" class="ui-btn-right" data-direction="reverse">
	    Home
	  </a>
	</div>
	
	<div class="map_canvas" id="live_route_map_canvas"></div>
	
	<div class="ui-content ui-popup ui-overlay-shadow ui-corner-all ui-body-e" 
    id="live_bus_popup_instruction" data-theme="e">
    <a href="#" onclick="$('#live_bus_popup_instruction').remove();"
      data-role="button" data-theme="a" data-icon="delete"
      data-iconpos="notext" class="ui-btn-right">Close</a>
  	  {% if buses %}
  	  <p>Live map of where buses are for <b>{{ route.name }}</b><p>
  	  {% else %}
  	  <p>No buses running for <b>{{ route.name }}</b><p> 
      {% endif %}
  </div>
	
  <script type="text/javascript">
    var liveRouteMapModule;
    $(document).bind("pageshow", function(event, data) {
      var noFooter = true;
      liveRouteMapModule = new MapModule("live_route_map_canvas", noFooter);
      if (liveRouteMapModule.map) {
        google.maps.event.trigger(liveRouteMapModule.map, 'resize');
      }
            
      var buses = [];
      {% for bus in buses %}
       buses.push({
         location: new google.maps.LatLng(
           {{ bus.latitude }}, 
           {{ bus.longitude }}
         ),
         name: "{{ bus.name }}",
         id: {{ bus.id }},
         delay: {{ bus.delay }}
       });
       {% endfor %}
      
      var waypoints = [];
      {% for latLong in route_points %}
      waypoints.push({
        location: new google.maps.LatLng(
          {{ latLong.latitude }}, 
          {{ latLong.longitude }}
        ),
        stopover: true
      });
      {% endfor %}
      
      liveRouteMapModule.displayRealTimeRouteData(
        waypoints, 
        buses, 
        "{{ start }}",
        "{{ destination }}"
      );      
    });
  </script>
</div>
{% endblock %}
