{% extends "base.html" %}

{% block body %}
<div data-role="page" data-add-back-btn="true" id="route_page">
  <div data-role="header" data-theme="b">
	  <h1>StopIt</h1>
	  <a href="/" data-icon="home" class="ui-btn-right" data-direction="reverse">
	    Home
	  </a>
	</div>
  
  <div data-role="content">
    <p>
      This page will have details about this particular bus route. It will
      also have a link to a real-time map of all the buses for this route
    </p>
  </div>
  
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">  
    <div class="ui-grid-solo">
      <a href="/route_map/?id={{ route.id }}" data-role="button" 
        data-inline="false" data-theme="c" data-corners="false">
        Live Map of Buses
      </a>
    </div>
  </div>
</div>
{% endblock %}
