{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block body %}
<div data-role="page" data-add-back-btn="true" id="route_map_page">
  <div data-role="header" data-theme="b">
	  <h1>StopIt</h1>
	  <a href="/" data-icon="home" class="ui-btn-right" data-direction="reverse">
	    Home
	  </a>
	</div>
	
	<div id="route_map_canvas"></div>
	
	<script type="text/javascript">
    var mapModule2;
    $("body").ready(function() {
      mapModule2 = new MapModule("route_map_canvas");
      // $('#map_popup_instruction').popup('open');
    });
  </script>
</div>
{% endblock %}
