{% extends "base.html" %}

{% block body %}
<div data-role="page" id="route_page">	
  <div data-role="header" data-theme="b">
    <a href="index.html" data-icon="back" data-rel="back"
      id="route-back-button">Back</a>
	  <h1>StopIt</h1>
	  <a href="/" data-icon="home" class="ui-btn-right" data-direction="reverse">
	    Home
	  </a>
	</div>
  
  <div data-role="content" style="padding-bottom: 0px">
    <table id="route_info">
      <tr>
        <td id="route_name">
		      <h3>{{ route.name }}</h3>
    			<p><strong>To:</strong> {{ route.destination }}</p>
    		</td>
    		<td id="live-map-button">
          <a href="/route_map/?id={{ route.id }}" data-role="button" 
  					id="live-map-button">Live Map</a>
  			</td>
			</tr>
		</table>
		
	  {% if opposite_route %}
		<a href="/route/?id={{ opposite_route.id }}" data-role="button" 
			class="opposite_route_button">
			Opposite Direction
		</a>
	  {% else %}
		<a href="#" data-role="button" class="ui-disabled" 
		  class="opposite_route_button">
			No Opposite Line
		</a>
	  {% endif %}
		<br />
  </div>
  
  <div id="left-column">
		<!-- stops list -->
		<ul data-role="listview">
			<li data-role="list-divider" id="list-header">
				Stop Location
			</li>
      {% for stop in stops %}
	  	<li class="stop-element">
	  	  <a href="/stop/?id={{ stop.id }}"><span class="word-wrap">
					{{ stop.name }} </span></a>
	  	</li>
    	{% endfor %}
		</ul>
	</div>
		
	<div id="right-column">
		<div class="ui-grid-a" id="table-buttons">
			<div class="ui-block-a">
				<a id="prev-column" href="#" data-role="button" data-corners="false"
					data-iconpos="top" data-icon="arrow-l" data-shadow="false" 
					class="table-nav-button ui-disabled">&nbsp</a>
			</div>
			<div class="ui-block-b">
				<a id="next-column" href="#" data-role="button" data-corners="false"
					data-iconpos="top" data-icon="arrow-r" data-shadow="false" 
					class="table-nav-button">&nbsp</a>
			</div>
		</div>
		
		<div class="table-container">
			<table id="time-table" data-role="table">
				{% for stop in stops %}
				<tr class="stop-element">
					{% for time in stop.times %}
					<td>
						{{ time }}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	
	<script>
	var tableWidth;
	$(document).bind("pageshow", function() {
	    console.log('fat');
			sizeTheTables();
			
			var index = 1;
			var numSchedules = {{ numOfStops }};
		
	    $('#next-column').tap(function(event) {
	        event.preventDefault();
					var scrollAmount = "+=" + tableWidth;
	        $('.table-container').animate({scrollLeft: scrollAmount}, 'fast');
	        if (index == 1) {
	          $('#prev-column').removeClass('ui-disabled');
	        }
	        index++;
	        if (index == numSchedules) {
	          $('#next-column').addClass('ui-disabled');
	        }
	    });
	    $('#prev-column').tap(function(event) {
	        event.preventDefault();
					var scrollAmount = "-=" + tableWidth;
					
	        $('.table-container').animate({scrollLeft: scrollAmount}, 'fast'); 
	        if (index == numSchedules) {
	          $('#next-column').removeClass('ui-disabled');
	        } 
	        index--;
	        if (index == 1) {
	          $('#prev-column').addClass('ui-disabled');
	        }
	    });
	});

	function sizeTheTables() {
		var numSchedules = {{ numOfStops }};
		var rightColumn = document.getElementById("right-column");
		if (!rightColumn) return;
		tableWidth = rightColumn.offsetWidth;
		var tableButtonHeight = 
		  document.getElementById("list-header").offsetHeight + 2;
		$("#table-buttons").height(tableButtonHeight);
		$("#time-table").width(tableWidth * numSchedules);
		$("#table-container, #time-table td").width(tableWidth);
		
		var listElements = $("li.stop-element");
		var tableElements = $("tr.stop-element");
		for (var i = 0; i < listElements.length; i++) {
			if (i < tableElements.length) {
				$(tableElements[i]).height($(listElements[i]).height());
			}
		}
	}
	</script>
</div>
{% endblock %}