{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block header %}
<h1>Bus Stop</h1>
{% endblock %}

{% block content %}
<img id="streetview-image" src="DEFAULT_IMAGE" />
<ul data-role="listview" class="ui-content">
	<li><a href="/route/">
			<h3>Line A</h3>
			<p>From the Oval to your Mom&#8217s House</p>
		</a></li>
	<li><a href="/route/">Line B</a></li>
	<li><a href="/route/">Line C</a></li>
</ul>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
//Google streetview image panorama
var svImgSize = $(window).width();
svImgSize += "x" + Math.round(0.75 * svImgSize); // this cant be a dot... round the numbers
var svLocation = "37.424032,-122.165806"
var svHeading = 290; //degree to point camera, with 0/360 being North
var svFov = 100; //field of view, default is 90
var svURL = "http://maps.googleapis.com/maps/api/streetview?size="+svImgSize+"&location="+svLocation+"&heading="+svHeading+"&fov="+svFov+"&sensor=false";
// $("#streetview-image")[0].src = svURL;
document.getElementById('streetview-image').src = svURL;
</script>
{% endblock %}