{% extends "base.html" %}

{% block body %}
<div data-role="page" data-add-back-btn="true" id="stop_page">
  <div data-role="header" data-theme="b">
	  <h1>StopIt</h1>
	  <a href="/" data-icon="home" class="ui-btn-right"
	  	data-direction="reverse">
	    Home
	  </a>
	</div>
	
	<div id="cover_photo_container">
	  <div id="stop_name">
	    <h2>{{ stop.name }}</h2>
	    <p id="stop_distance_from_location"></p>
	  </div>
	  <img id="streetview-image" src="/media/images/no-stop-preview.jpg" />
	</div>
  
  <div data-role="content">
    <ul data-role="listview" class="ui-content" data-divider-theme="d">
      <li data-role="list-divider" role="heading">
        <fieldset class="ui-grid-c" style="padding-right: 28px">
          <div class="ui-block-a">
  					Route Name
  				</div>
  				<div class="ui-block-b">
  					Arrives
  				</div>
  				<div class="ui-block-c">
  					Status
  				</div>
				</fieldset>
      </li>
      
      {% for route in routes %}
    	<li>
    	  <a href="/route/?id={{ route.id }}">
  				<fieldset class="ui-grid-c">
  					<div class="ui-block-a">
  						<h3> {{ route.name }} </h3>
  						<p>To: {{ route.destination }} </p>
  					</div>
  					<div class="ui-block-b">
  						<h3>{{ route.arrives_in }}</h3>
  						<p>Minutes</p>
  					</div>
  					<div class="ui-block-c">
  						<h3 class="delay-heading">{{ route.delay_length }}</h3>
  						<p class="delay-subheading"></p>
  					</div>
  				</fieldset>
				</a>
    	</li>
    	{% endfor %}
    	
    	{% if not routes %}
    	<div class="ui-content">
    	  <b><center>All buses have stopped servicing today</center></b>
    	</div>
    	{% endif %}
    </ul>
  </div>
  
  <script type="text/javascript">
    // Google streetview image panorama (TODO: tweak heading/angle numbers)
    var svImgSize = $(window).width();
    svImgSize += "x" + 180;
    var svLocation = "{{ stop.latitude }},{{ stop.longitude }}"
    var svHeading = 290; // degree to point camera, with 0/360 being North
    var svFov = 100; // field of view, default is 90
    var svURL = "http://maps.googleapis.com/maps/api/streetview?size=" + 
      svImgSize + "&location=" + svLocation + "&heading=" + svHeading + "&fov=" 
      + svFov + "&sensor=false";
    document.getElementById('streetview-image').src = svURL;
    
    // Stop distance from user location
    navigator.geolocation.getCurrentPosition(function(position) {
      var distance = distanceBetweenTwoCoordinates(
        position.coords.latitude, 
    	  position.coords.longitude,
    	  {{ stop.latitude }},
    	  {{ stop.longitude }}
      );
      
      $("#stop_distance_from_location").text(
        distance.toFixed(1) + " miles away"
      );
    }, function(error) {
      $("#stop_distance_from_location").remove();
    });
		
		//Change delay time styling and subtext depending on if it's +/-
		var delay_time_elems = $(".delay-heading");
		var delay_subheadings = $(".delay-subheading");
		for (var i = 0; i < delay_time_elems.length; i++) {
			var elem = delay_time_elems[i];
			var subheading = delay_subheadings[i];
			var delay_time = elem.outerText/1;
			var time_color, delay_status_text;
			if (delay_time > 0) {
				$(elem).addClass("red-text");
				$(elem).append(" min");
				$(subheading).text("Late");
			} else if (delay_time == 0) {
				$(elem).addClass("black-text");
				$(elem).text("On Time");
			} else if (delay_time < 0) {
				$(elem).addClass("blue-text");
				$(elem).text(Math.abs(delay_time) + " min");
				$(subheading).text("Early");
			}
		}
    
  </script>
</div>
{% endblock %}
