.red-text {
	color: red;
}

.black-text {
	color: #000;
}

.blue-text {
	color: blue;
}

/* -------------
   Stop page
   ------------- */
   
#stop_page #cover_photo_container {
  height: 180px;
  color: white;
}

#stop_page #cover_photo_container #stop_name {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 8px;
}

#stop_page #cover_photo_container #stop_name h2 {
  margin: 0px;
  color: white;
}

#stop_page #cover_photo_container #stop_name #stop_distance_from_location {
  color: white;
  margin: 0px;
}

#stop_page .ui-block-a {
	width: 50%;
}

#stop_page .ui-block-b {
	width: 30%;
}

#stop_page .ui-block-c {
	width: 20%;
}